*{
    margin: 0;
    padding: 0;
}

.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    overflow: hidden;
    margin-top: -90px;
    background-image: url('https://res.cloudinary.com/dhgfsshq4/image/upload/v1705430647/hacks%206.0/layer_3_1_1_j5mcuq.webp');
}

.home-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100%;
    width: 55%;
    margin-left: 130px;
}

.home-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -400px;
    margin-right: 100px;
    animation: 4s bounce linear infinite forwards;
}
/* @keyframes bounce {
    0% {
        transform: translateY(0)
        transform:
    }

    50% {
        transform: translateY(20%);  
    }


    to {
        transform: translateY(0)
    }
} */

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15%);
        
    }

    to {
        transform: translateY(0);
    }
} 

@keyframes fly {
    0% {
        transform: translateX(-550%);
    }


    to {
        transform: translateX(400%);
    }
} 

@keyframes oppfly {
    0% {
        transform: translateX(600%);
    }


    to {
        transform: translateX(-500%);
    }
} 

.home-zoom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-rock{
    margin-top: -740px;
    margin-left: -700px;
    animation: 14s fly linear infinite;

}

.home-opprock{
    animation: 20s oppfly linear infinite;
    margin-bottom: -200px;
    margin-top: 100px;

}


.home-info p{
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.875rem;
    text-align: justify;
    color: #C7FFF2;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    white-space: unset;
    text-wrap: balance;
    margin-bottom: -100px;
    font-family: "Silkscreen", sans-serif;
}
