* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.skills {
    height: 120vh;
    background-image: url('https://www.tecnoesis.co.in/images/homebg.jpeg');
    /* background-image: url('https://www.tecnoesis.co.in/home_bg_desk.gif'); */
    background-size: cover;
    margin-top: -12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.skill-title {
    height: 25%;
    width: 100%;
    background-image: url('https://res.cloudinary.com/dagggqd6g/image/upload/f_auto,q_auto/yhxzsczvtrg7anfokt3k');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.skills h1 {
    color: whitesmoke;
    background-image: linear-gradient(180deg, #ff0101, #f000);
    text-align: center;
    padding-top: 30px;
    font-size: 5.5rem;
    font-weight: 700;
    /* font-family: 'Silkscreen', sans-serif; */
    font-family: "Rubik Pixels", system-ui;
    background-clip: text;
    -webkit-text-stroke: 0.7rem transparent;
    text-shadow: 2px 2px #000;
}

.pixelo{
    margin-right: -150px;
}
.content {
    width: 100%;
    height: 100%;
}
.skill-det {
    margin-top: -12px;
    height: 100%;
    width: 100%;
    background-image: url('https://res.cloudinary.com/dhgfsshq4/image/upload/v1705431199/hacks%206.0/Group_5252_1_p3s348.webp');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
    margin-top: 150px;
    z-index: 2;
}
.slide {
    background-color: #5f09bb;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
    padding: 40px 20px;
    border-radius: 15px;
    border: 5px solid #C7FFF2;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out rotate 0.5s ease-in-out;
    animation: rotate 14s linear infinite;
}

.slide:hover {
    padding: 46px 26px;
    animation: none;
    transform: rotate(0deg) scale(1.1) 0.5s smooth;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px;
}
/* .slide:hover {
    padding: 46px 26px;
    transform: rotate(0deg);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px;
    animation-play-state: paused;
} */
.slide-track {
    display: flex;
    width: 100%;
    animation: scroll 18s linear infinite backwards;
}
.slide-track:hover {
    animation-play-state: paused;
}
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo {
    width: 100px;
    height: 50px;
    margin: 15px;
    filter: drop-shadow(2px 2px 4px #000);
}
h3 {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Silkscreen', sans-serif;
    background-clip: text;
    -webkit-text-stroke: 0.7rem transparent;
    text-shadow: 2px 2px #000;
}

.p{
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Silkscreen', sans-serif;
    background-clip: text;
    -webkit-text-stroke: 0.7rem transparent;
    text-shadow: 2px 2px #000;  

}